<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>

        {% stylesheets
        '@ClientWebsiteBundle/Resources/public/test/css/main.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
