{%- set language = request.locale|default('en') -%}
{%- set company = 'MASSIVE ART WebServices GmbH' -%}
{%- set client = 'ClientName' -%}
{%- set image = 'http://placehold.it/400/400' -%}

<!DOCTYPE html>
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="{{ language }}"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="{{ language }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ language }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{% block title %}{% endblock %}</title>

    {%- include 'ClientWebsiteBundle:includes:meta.html.twig' -%}

    {# CSS - STYLESHEETS #}
    {# JS - MODERNIZR #}
    {# JS - RESPOND #}
</head>
<body>
    {# HEADER INCLUDE#}
    {% include 'ClientWebsiteBundle:includes:header.html.twig' %}

    {# TEMPLATE CONTENT #}
    <main role="main">
        {% block content %}{% endblock %}
    </main>

    {# FOOTER INCLUDE #}
    {% include 'ClientWebsiteBundle:includes:footer.html.twig' %}

    {# JAVASCRIPT FILES #}
    {% javascripts
        'http://code.jquery.com/jquery-1.11.3.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
